.Debit {
    background-color: #FFCCCC;
  }
  
  .Credit {
    background-color: #E5FFE5;
  }

  body {
    background-color: #cca082;
  }

  #container {
    display: flex;
    justify-content: space-around;
  }